<!--
  Generated template for the LessonPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Lesson 1 Let's get started</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  Let's get started

  <h3>
    <font style="font-size: 18px;" color="#5e5e5e">Let's get started</font>
  </h3>


  <p>
    <font style="font-size: 18px;" color="#5e5e5e">You're about to start a truly magical adventure. Learning Japanese, (or ‘nihongo’ in Japanese, written ‘日本語’) will help
      you realize your dreams, and open doors you never knew existed.</font>
  </p>
  <p>
    <font style="font-size: 18px;" color="#5e5e5e">
      <ion-img src="/assets/img/lesson1.png" height="150" width="300"></ion-img><br/></font>
  </p>

  <p>
    <font style="font-size: 18px;" color="#5e5e5e">It’s a huge challenge. Mastering the Japanese language will take many hours of hard work. You’ll need to learn three
      brand new writing systems, a new way of thinking about sentence structure, and a new way of pronouncing words. Not
      to mention you’ll need to be familiar with a whole new culture in order to be able to communicate properly with native
      speakers 😨</font>
  </p>
  <p>
    <font style="font-size: 18px;" color="#5e5e5e">But never fear! Here at LinguaLift, we are with you every step of the way. We’ll break down what is a huge, daunting
      (but exciting!) task into manageable chunks 😎</font>
  </p>
  <p>
    <font style="font-size: 18px;" color="#5e5e5e">What’s more, because self-teaching a language can at times be quite a challenge for even the brightest and most talented
      of learners, the LinguaLift expert study coaches and helpful language tutors will be checking in from time to time
      to make sure that you’re on the right track.</font>
  </p>
  <p>
    <font style="font-size: 18px;" color="#5e5e5e">We are here whenever you need us. You can send us a message whenever you feel like you need a little guidance. </font>
  </p>

  <h4>
    <font style="font-size: 18px;" color="#5e5e5e">Find your motivation</font>
  </h4>
  <p>
    <font style="font-size: 18px;" color="#5e5e5e">While one can learn Japanese just for the sake of it, it rarely leads to good results. You need to set a specific goal
      for why you want to learn the language. ☝️</font>
  </p>
  <p>
    <font style="font-size: 18px;" color="#5e5e5e">It can be anything—a dream of working in Japan, understanding Japanese songs and restaurant menus, or even meeting a
      Japanese girlfriend or boyfriend—what’s important is that you believe and stick to it on the way to master the language.</font>
  </p>
  <blockquote>
    <font style="font-size: 18px;" color="#5e5e5e">What's important is that you believe in your dream, and stick to it. </font>
  </blockquote>
  <p>
    <font style="font-size: 18px;" color="#5e5e5e">By doing this, you’ll always be reminded of why you started learning 日本語 (nihongo). Whenever you feel like quitting,
      or taking a day off from studying, you can remind yourself of your original motivation to learn this exciting language,
      and rediscover the motivation you need to succeed 😊</font>
  </p>

  <h4>
    <font style="font-size: 18px;" color="#5e5e5e">Language is culture</font>
  </h4>
  <p>
    <font style="font-size: 18px;" color="#5e5e5e">An exciting part of learning Japanese are set expressions, that often have no equivalent in English.</font>
  </p>
  <p>
    <font style="font-size: 18px;" color="#5e5e5e">Japan has centuries-old traditions, culture-specific speech patterns, and untranslatable phrases that are widely used
      every day. Learning these words and phrases will unlock a window into the Japanese way of life. </font>
  </p>
  <p>
    <font style="font-size: 18px;" color="#5e5e5e">One part of Japanese culture that you will find in every household are the greetings used when people leave the house
      or come home.</font>
  </p>
  <p>
    <font style="font-size: 18px;" color="#5e5e5e">You'll hear four set expressions, depending on whether you are the person leaving or coming home, or the person greeting
      the person leaving or coming home. We'll learn these four phrases in this lesson. </font>
  </p>

  <div>
    <h4>

      <font style="font-size: 18px;" color="#5e5e5e"><i>person</i> Tutor says

      </font>
    </h4>
    <p>
      <font style="font-size: 18px;" color="#5e5e5e">Be sure to keep a paper notepad by your side as you go through the lessons. Take a note of any new information that
        you've come across, and make your learning an <b>active</b> rather than <b>passive</b> endeavour. </font>
    </p>
  </div>

  <h5>
    <font style="font-size: 18px;" color="#5e5e5e">Leaving home</font>
  </h5>
  <p>
    <font style="font-size: 18px;" color="#5e5e5e">When you're leaving the house, you'll want to tell your family that you're leaving, but also reassure them that you're
      coming back. For this, we use an expression that literally means '<i>I'm leaving, then coming back'. </i></font>
  </p>

  <div>

    <div>
      <div>
        <font style="font-size: 18px;" color="#5e5e5e">ittekimasu</font>
      </div>

      <!-- <font style="font-size: 18px;" color="#5e5e5e"><a target="_blank">Show translation</a>
      </font> -->
    </div>
  </div>
  <p>
    <font style="font-size: 18px;" color="#5e5e5e">Then, members of the family will respond to this expression and wish you a safe trip. To do so, they'll say '<i>itterasshai</i><i>'</i> just
      like we would say 'take care' in English. </font>
  </p>

  <div>

    <div>
      <div>
        <font style="font-size: 18px;" color="#5e5e5e">itterasshai</font>
      </div>

      <!-- <font style="font-size: 18px;" color="#5e5e5e"><a target="_blank">Show translation</a>
      </font> -->
    </div>
  </div>

  <h5>
    <font style="font-size: 18px;" color="#5e5e5e">Coming home</font>
  </h5>
  <p>
    <font style="font-size: 18px;" color="#5e5e5e">There are two more expressions to learn in relation to coming home. The first is 'tadaima', which means 'I'm home'. </font>
  </p>

  <div>

    <div>
      <div>
        <font style="font-size: 18px;" color="#5e5e5e">tadaima</font>
      </div>

      <!-- <font style="font-size: 18px;" color="#5e5e5e"><a target="_blank">Show translation</a> -->


      <!-- </font> -->
    </div>
  </div>


  <p>
    <font style="font-size: 18px;" color="#5e5e5e">Then, in response to this, it is customary to respond with the greeting 'okaerinasai', which is a polite way of saying
      'I'm glad you're home'. </font>
  </p>
  <div>

    <div>
      <div>
        <font style="font-size: 18px;" color="#5e5e5e">okaerinasai</font>
      </div>

      <!-- <font style="font-size: 18px;" color="#5e5e5e"><a target="_blank">Show translation</a> -->

      <!-- </font> -->
    </div>
  </div>
  <div>
    <h4>

      <font style="font-size: 18px;" color="#5e5e5e"><i>create</i> Over to you

      </font>
    </h4>
    <p>
      <font style="font-size: 18px;" color="#5e5e5e">Once you've learned these four phrases, practice writing out a small role play between two family members, and say
        it out loud. Maybe you can even ask your own family members to help you!</font>
    </p>
  </div>

  <h4>
    <p>
      <font style="font-size: 18px;" color="#5e5e5e">Now that you've read this lesson, and hopefully have come to grips with what you've covered, all that's left to do
        is hit <b>MARK AS DONE.</b></font>
    </p>
  </h4>


  <button style="margin-top: 15px;height: 35px;font-size: 14px;background: #10ABF4;" ion-button  block  (click)="goToTestsPage()">Go to Test</button>

</ion-content>
