<ion-header>
  <ion-navbar>
    <ion-title>Lists</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <button ion-item *ngFor="let item of items" (click)="itemSelected(item)">
      {{ item }}
    </button>
  </ion-list>
  <!-- <ion-list>
    <button ion-item *ngFor="let lesson of lessons" (click)="itemSelected(lesson)">
      {{ lesson | json  }}
    </button>
  </ion-list> -->
</ion-content>
