<ion-header>
  <ion-navbar>
    <ion-title>
      Contact
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>Follow us on Twitter</ion-list-header>
    <ion-item>
      <ion-icon name="phone-portrait" item-left></ion-icon>
      888-888-888
    </ion-item>
    <ion-item>
      <ion-icon name="mail" item-left></ion-icon>
      sukimomoko@gmail.com
    </ion-item>
    <ion-item>
      <ion-icon name="logo-facebook" item-left></ion-icon>
      sukimomoko
    </ion-item>
  </ion-list>
</ion-content>
