<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2>Study with Sukimomoko!</h2>
  <p>
    Learn Japanese with Sukimomoko! No more dry, out of date textbook story lines!
  </p>
  <p>
    Here at Sukimomoko, you'll learn Japanese with fun, interesting and culturally relevant lessons that are easy to listen to. 
  </p>
</ion-content>
