<ion-header>
  <ion-navbar>
    <ion-title>Slides</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="tutorial-page">

  <ion-slides pager>
    <ion-slide>
      <h2 class="slide-title">Ready to Play?</h2>
      <p>There will be 3 questions on the test.</p>
      <p>You need to answer 2 out 3 correctly to pass the test.</p>
      <button class="check-button" style="height: 35px;font-size: 14px;background: #00AC78;" ion-button  block  (click)="goToNextSlide()">Continue</button> 
      
    </ion-slide>
    <ion-slide>
      <img [src]="slidesContent[0].image" class="slide-image"/>
      <h3 class="slide-title" [innerHTML]="slidesContent[0].title"></h3>
      <!-- <p [innerHTML]="slideContent.description"></p> -->
      <ion-list radio-group [(ngModel)]="question0">
      <ion-item>
        <ion-label [innerHTML]="slidesContent[0].optionA"></ion-label>
        <ion-radio value="a"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label [innerHTML]="slidesContent[0].optionB"></ion-label>
        <ion-radio value="b"></ion-radio>
      </ion-item>
      </ion-list>
    </ion-slide>
    <ion-slide>
        <img [src]="slidesContent[1].image" class="slide-image"/>
        <h3 class="slide-title" [innerHTML]="slidesContent[1].title"></h3>
        <!-- <p [innerHTML]="slideContent.description"></p> -->
        <ion-list radio-group [(ngModel)]="question1">
        <ion-item>
          <ion-label [innerHTML]="slidesContent[1].optionA"></ion-label>
          <ion-radio value="a"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label [innerHTML]="slidesContent[1].optionB"></ion-label>
          <ion-radio value="b"></ion-radio>
        </ion-item>
        </ion-list>
    </ion-slide>
    <ion-slide>
        <img [src]="slidesContent[2].image" class="slide-image"/>
        <h3 class="slide-title" [innerHTML]="slidesContent[2].title"></h3>
        <!-- <p [innerHTML]="slideContent.description"></p> -->
        <ion-list radio-group [(ngModel)]="question2">
        <ion-item>
          <ion-label [innerHTML]="slidesContent[2].optionA"></ion-label>
          <ion-radio value="a"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label [innerHTML]="slidesContent[2].optionB"></ion-label>
          <ion-radio value="b"></ion-radio>
        </ion-item>
        </ion-list>
    </ion-slide>

    <ion-slide>
        <h2 class="slide-title">Finished?</h2>
        <p>Click <b>Check</b> to know the result</p>
        <button class="check-button" style="height: 35px;font-size: 14px;background: #AC10F4;" ion-button  block  (click)="checkOnClick()">Check</button> 
        <p *ngIf="isCheckClicked">You answered {{score}} / 3 correctly</p>
        <img *ngIf="isScoreGreaterThanTwo() && isCheckClicked" src="../../assets/img/pass.png">
        <img *ngIf="!isScoreGreaterThanTwo() && isCheckClicked" src="../../assets/img/fail.png">
    </ion-slide>
    
  </ion-slides>
</ion-content>