<ion-header>
  <ion-navbar>
    <ion-title>
      Courses
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card (click)="navigate(course.id)" *ngFor="let course of courses">
    <!-- <img src="assets/img/003-sushi-1.png" /> -->
    <img src="assets/img/{{course.imageName}}"/>
    <ion-card-content>
      <ion-card-title>
        {{ course.name }}
      </ion-card-title>
      <p>
        {{ course.description}}
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>